</main>

<aside id="sidebar">
  <h4>Pages</h4>
  <ul>
    <li><a href="/pages/about">About Me</a></li>
    <li><a href="/pages/downloads">Downloads</a></li>
    <li><a href="/categories">Archive</a></li>
    <li><a href="/pages/privacy">Privacy Policy</a></li>
  </ul>
  <h4>Social</h4>
  <a href="/feed.xml"><img src="/css/images/rss.svg" alt="RSS feed"/></a>
  <a href="http://github.com/jlegeny" rel="me"><img src="/css/images/github.svg" alt="github"/></a>
  <a rel="me" href="https://dosgame.club/@yozy"><img src="/css/images/mastodon.svg" alt="mastodon"/></a>
  <h4>My Apps</h4>
  <a href="https://itunes.apple.com/us/app/eventail/id959674103">
    <figure>
      <img src="/css/images/eventail.svg" alt="eventail"/>
      <figcaption class="subtitle"><strong style="margin-bottom:0;display:block">Eventail</strong>A tiny but packed calendar widget for the iphone</figcaption>
    </figure>
  </a>
</aside>
</div>

<footer class="branding">
  <p><small>&copy; 2007 – {{ now.Format "2006" }} Jozef Legény ~
    <i>All opinions expressed here are of my own and do not represent my current, or any previous employer.</i></small></p>
</footer>

  <script>
    function initFootnotes() {
      window.littlefoot.default({
        activateDelay: 0,
        numberResetSelector: 'article',
        buttonTemplate: '<div class="littlefoot-footnote__container">\
        <button class="littlefoot-footnote__button littlefoot-footnote__button__number" id="<%= reference %>" data-footnote-id="<%= id %>" data-footnote-number="<%= number %>" title="See Footnote <%= number %>" rel="footnote" data-littlefoot-footnote="<%= content %>">\
        </button>\
        </div>'
      });
    }
  </script>
<script async src="/js/littlefoot.min.js" onload="initFootnotes()"></script>

</body>
</html>
