</main>

<aside id="sidebar">
  <h4>Pages</h4>
  <ul>
    <li><a href="/pages/about">About Me</a></li>
    <li><a href="/pages/downloads">Downloads</a></li>
    <li><a href="/categories">Categories</a></li>
  </ul>
  <h4>Social</h4>
  <a href="http://twitter.com/ytwoz"><img src="/css/images/twitter.svg" alt="twitter"/></a>
  <a href="http://github.com/jlegeny"><img src="/css/images/github.svg" alt="github"/></a>
  <h4>My App</h4>
  <a href="https://itunes.apple.com/us/app/eventail/id959674103?ls=1&mt=8&at=1010lIXq">
    <figure>
      <img src="/css/images/eventail.svg" alt="Eventail"/>
      <figcaption class="subtitle"><h5>Eventail</h5>A tiny but packed calendar widget for the iPhone</figcaption>
    </figure>
  </a>
</aside>
</div>

<footer class="branding">
  <p><small>&copy; 2007 – {{ now.Format "2006" }} Jozef Legény</small></p>
</footer>

<script async type="text/javascript" src="/js/littlefoot.min.js" onload="window.littlefoot.default({activateDelay: 0})"></script>

</body>
</html>
