<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link href="https://micro.blog/yozy" rel="me"/>

    {{ if .IsHome }}
    <title>{{ .Site.Title }}</title>
    {{ else }}
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    {{ end }}
    {{ if .RSSLink }}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}
    <link href="{{ with .OutputFormats.Get "jsonfeed"  }}{{ .Permalink }}{{ end }}" rel="alternate" type="application/json" title="{{ .Site.Title }}" />
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />
    <link href="/css/littlefoot.css" rel="preload" as="style" onload="this.rel='stylesheet'">

    <link rel="apple-touch-icon" href="/css/images/apple-icon-touch.png">
    <link rel="icon" href="/favicon.png?v=2">
    <!--[if IE]> <link rel="shortcut icon" href="/favicon.ico"> <![endif]-->
    <meta name="msapplication-TileColor" content="#f01d4f">
    <meta name="msapplication-TileImage" content="/css/images/win8-tile-icon.png">

    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:image" content="{{ "/css/images/apple-icon-touch.png" | absURL }}" />

  </head>

  <body>
    <header class="branding">
      <p class="h1"><a href="/" rel="nofollow">yozy//NET</a></p>
    </header>

    <div id="content">
      <main role="main">
