---
layout: default
title: Clockwork
---

{% for post in paginator.posts %}

<article class="clearfix" role="article">

	<header class="article-header">

		<h1 class="h2"><a href="{{ post.url }}" rel="bookmark" title="{{ post.title}}">{{ post.title }}</a></h1>
		<p class="byline vcard"><time class="updated" datetime="{{ post.date | date: "%Y-%m-%d"}}" pubdate>{{ post.date | date: "%Y-%m-%d" }}</time></p>

	</header>

	<section class="entry-content clearfix">
		{{ post.content }}
	</section>

	<footer class="article-footer">
		<p class="tags">
			{% for tag in post.tags %}
			<a href="/tag/{{ tag }}">{{ tag }}</a>
			{% endfor %}
		</p>
	</footer>

</article>

{% endfor %}

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<nav class="pagination">
  <ul clas="page-numbers">
  {% if paginator.previous_page %}
  <li>
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  </li>
  {% else %}
  <li>
    <span>&laquo; Prev</span>
  </li>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
    <li>
      <span><em>{{ page }}</em></span>
    </li>
    {% elsif page == 1 %}
    <li>
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    </li>
    {% else %}
    <li>
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    </li>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
  <li>
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  </li>
  {% else %}
  <li>
    <span>Next &raquo;</span>
  </li>
  {% endif %}
  </ul>
</nav>
{% endif %}
