{{ define "main" }}
  {{/* Define the sections you want to include */}}
  {{ $sections := (slice "posts" "micros") }}
  
  {{/* Collect all pages from the specified sections */}}
  {{ $pages := where .Site.RegularPages "Section" "in" $sections }}
  
  {{/* Sort the pages by date in descending order */}}
  {{ $sortedPages := sort $pages "Date" "desc" }}
  
  {{/* Determine the number of recent posts to display */}}
  {{ $n_posts := $.Param "recent_posts_number" | default 5 }}
  
  {{/* Display the first $n_posts pages */}}
  {{ range first $n_posts $sortedPages }}
    <article>
      <header>
        <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
        {{- partial "post/meta.html" . -}}
      </header>


      {{ .Content }}
    </article>
  {{ end }}
  
  {{/* Check if there are more posts to display in the "more" section */}}
  {{ $remainingPosts := (after $n_posts $sortedPages) }}
  {{ if gt (len $remainingPosts) 0 }}
    <aside>
      <h1>{{ i18n "more" }}</h1>
      <ul>
        {{/* Display the next 4 posts */}}
        {{ range first 4 $remainingPosts }}
          <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
      <a href="/posts/">All Posts</a>
    </aside>
  {{ end }}
{{ end }}

