<% wrap_layout :layout do %>
<article role="article" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="article-header">
   <p><time datetime="<%= current_page.date.strftime('%Y-%m-%d') %>"><%= current_page.date.strftime('%Y-%m-%d') %></time></p>
   </header>
   <section>
    <%= yield %>
  </section>

</article>

<% end %>
