<% wrap_layout :layout do %>

<article class="page clearfix" role="article" itemscope itemtype="http://schema.org/BlogPosting">

	<section class="entry-content clearfix" itemprop="articleBody">
		<%= yield %>
	</section>

</article>
<% end %>