<div class="sidebar fourcol last clearfix" role="complementary">

	<div class="widget widget_pages">
		<h4 class="widgettitle">Pages</h4>		
		<ul>
			<li class="page_item page-item-8"><a href="/pages/About.html">About Me</a></li>
			<li class="page_item page-item-331"><a href="/pages/Biography.html">Biography</a></li>
			<li class="page_item page-item-10"><a href="/pages/Downloads.html">Downloads</a></li>
		</ul>
	</div>
	<div class="widget widget_text">
		<h4 class="widgettitle">Social</h4>
		<div class="textwidget">
			<a href="http://twitter.com/ytwoz">
				<div class="icon64 icon-twitter"></div>
			</a>
			<a href="http://instagram.com/ytwoz">
				<div class="icon64 icon-instagram"></div>
			</a>
		</div>
	</div>

</div>