{{ partial "header.html" . }}

<h1>{{ .Title }}</h1>



{{ $paginator := .Paginate (where .Site.RegularPages "Section" "in" (slice "micros")) }}

{{ range .Pages.ByDate }}

<article itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <a href="{{ .Permalink }}">
    {{ partial "post/meta.html" . }}
    </a>
  </header>

  {{ partial "post/content.html" . }}
  {{ partial "post/tags.html" . }}

</article>
{{ end }}

{{ $baseurl := .Site.BaseURL }}
<nav class="pagination">
  <ul>
    {{ if .Paginator.HasPrev }}
    <li><a href="{{ .Paginator.Prev.URL }}">&laquo; Prev</a></li>
    {{ else }}
    <li><span>&laquo; Prev</span></li>
    {{ end }}
 
    {{ range $paginator.Pagers }}
    {{ if eq .PageNumber $paginator.PageNumber }}</li>
    <li><span>{{ .PageNumber }}</span></li>
    {{ else }}
    <li><a href="{{ $baseurl }}{{ .URL }}">{{ .PageNumber }}</a></li>
    {{ end }}
    {{ end }}

    {{ if .Paginator.HasNext }}
    <li><a href="{{ .Paginator.Next.URL }}">Next &raquo;</a></li>
    {{ else }}
    <li><span>Next &raquo;</span></li>
    {{ end }}
  </ul>
</nav>

{{ partial "footer.html" . }}

