{{ partial "header.html" . }}
<article itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
    <p><time datetime="{{ .Date.Format "2006-01-02"}}">{{ .Date.Format "2006-01-02" }}</time></p>
  </header>

  {{ $c := .Content }}
  {{ $c := $c | replaceRE "<h5(.*?)>(.*?)</h5>" "<h6$1>$2</h6>" }}
  {{ $c := $c | replaceRE "<h4(.*?)>(.*?)</h4>" "<h5$1>$2</h5>" }}
  {{ $c := $c | replaceRE "<h3(.*?)>(.*?)</h3>" "<h4$1>$2</h4>" }}
  {{ $c := $c | replaceRE "<h2(.*?)>(.*?)</h2>" "<h3$1>$2</h3>" }}
  {{ $c := $c | replaceRE "<h1(.*?)>(.*?)</h1>" "<h2$1>$2</h2>" }}
  {{ $c | markdownify}}

  <footer>
    <p class="tags">
    {{ range .Params.tags }}
    <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
    {{ end }}
    </p>
  </footer>
</article>

{{ partial "footer.html" . }}
