@use "sass:color";

$sans-serif:        "HelveticaNeue", Helvetica, Arial, sans-serif;
$serif:             "Georgia", Cambria, Times New Roman, Times, serif;
$title-font:        "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
$header-font:       "HelveticaNeue-Bold", Helvetica, Arial, sans-serif;
$monospace-font:    "Consolas", "Menlo", monospace;
$kbd-font:          "Meslo", monospace;

:root {
  color-scheme: light dark;
  --header-background:    #241510;
  --content-background:   #f8f1e8;
  --code-background:      #e6cdad;
  --text-color:           #111;
  --kbd-background:       #ddd;
  --kbd-color:            var(--text-color);
  --tag-background:       #d0c1b9;
  --tag-background-hover: #a78b7c;
  --header-color:         #fff;
  --link-color:           #784421;
  --link-color-visited:   #609;
}

@media (prefers-color-scheme: dark) {
  :root {
    --header-background:    #241510;
    --content-background:   #c8b198;
    --code-background:      #b49684;
    --text-color:           #000;
    --kbd-background:       #444;
    --kbd-color:            #ccc;
    --tag-background:       #504545;
    --tag-background-hover: #201515;
    --header-color:         #c9c0b0;
    --link-color:           #603515;
    --link-color-visited:   #609;
  }
}

* {
  min-width: 0;
}

body {
  margin: 0;
  padding: 0;

  width: 100%;
  min-height: 100vh;

  font-family: $sans-serif;
  background: var(--content-background);
  color: var(--text-color);
  display: flex;
  flex-direction: column;

  > header p > *, > footer p > *, #sidebar {
    padding-left: 10px;
    padding-right: 10px;
  }

  > header p, > #content, > footer p {
    margin: 0 auto;
    max-width: 65rem;
  }

  > footer {
    margin-top: 20px;
    small {
      display: block;
    }
  }
}

p {
  word-break: break-word;
  // cleaning up the ragged lines and breaks
  hyphens: auto;
  // sets a minimum number of characters before and after the break
  -webkit-hyphenate-limit-before: 2;
  -webkit-hyphenate-limit-after: 3;
  hyphenate-lines: 3;
  // enabling fancy ligatures when available
  font-feature-settings: "liga", "dlig";
}

h1, .h1, h2, .h2, h3, h4, h5 {
  font-family: $header-font;
  // font-weight: bold;
  line-height: 1.4;
}

h1, .h1, h2, .h2 {
  letter-spacing: -1px;
}

h1, .h1 {
  font-size: 2.2em;
  clear: both;
}

h2, .h2 {
  font-size: 1.75em;
}

h3, .h3 {
  font-size: 1.25em;
  color: #333;
}

h4, .h4 {
  font-size: 1.1em;
}

.branding {
  background-color: var(--header-background);
  p a {
    letter-spacing: 3px;
    font-family: var(--title-font);
    // text-transform: uppercase;
    color: var(--header-color);
  }
  p {
    color: var(--link-color);
    color: var(--header-color);
    line-height: 3em;
  }
}

#content {
  display: flex;
  flex: 1;
  justify-content: space-between;

  article, nav  {
    padding-left: 10px;
    padding-right: 10px;
  }


  a[href*="/files/"] {
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    display: inline-block;
    line-height: 2;
    margin-bottom: 0;
    padding: 0px 14px;
    text-align: center;
    text-decoration: none !important;

    background-color: #006DCC;
    background-image: linear-gradient(to bottom, #0088CC, #0044CC);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: var(--header-color);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    &:hover {
      background: #0044cc;
      color: var(--header-color) !important;
    }
  }
}

main {
  flex-basis: 70%;
  margin-top: 20px;
}

#sidebar {
  margin-top: 2em;
  clear: both;
  flex-basis: 20%;
  img {
    width: 32px;
    height: 32px;
  }
}

a, a:hover, a:visited, a:link {
  color: var(--link-color);
  text-decoration: none;
}

article {
  header {
    time, span {
      font-size: 0.8em;
      font-family: $monospace-font;
    }
  }

  hr {
    border: none;
    border-bottom: 1px dotted;
    border-color: var(--text-color);
  }

  > p, li {
    a {
      text-decoration: underline !important;
      -webkit-text-decoration-skip: edges;
    }
    a:visited {
      color: var(--link-color-visited);
    }
  }

  p, code, pre {
    line-height: 1.4;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  video {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  p > code, li > code {
    background: var(--code-background);
  }

  pre, code {
    font-family: $monospace-font;
    hyphens: none;
  }

  kbd {
    font-family: $kbd-font;
    border-radius: 3px;
    border: 1px solid black;
    color: var(--kbd-color);
    background-color: var(--kbd-background);
    padding: 2px 2px 2px;
    font-size: 0.9em;
  }

  blockquote {
    margin-left: 30px;
    margin-right: 30px;
    border-left: 1px dotted var(--text-color);
    p {
      padding-left: 10px;
    }
  }

  c-clear {
    clear: both;
    display: block;
  }

  pre {
    background: var(--code-background);
    overflow-x: auto;
    overflow-scrolling: touch;
  }

  .highlight {
    pre {
      border-radius: 5px;
      padding: 0.5em;
      overflow-x: auto;
      overflow-scrolling: touch;
    }

    code {
      display: block;
      white-space: pre;
    }
  }

  footer a {
    font-size: 0.9em;
    border-radius: 3pt;
    color: var(--header-color) !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 2px 2% 2px;
    background: var(--tag-background);
    line-height: 1.5;
    &:hover {
      background: var(--tag-background-hover);
    }
  }

  ul, ol {
    li {
      line-height: 1.4;
    }
  }

  figure {
    margin: 0 auto;
    text-align: center;

    img {
    }

    figcaption {
    }
  }

  // Page specific hacks
  img[src*='@2x'] {
    zoom: 50%;
  }

  img[src*='@3x'] {
    zoom: 33.333%;
  }

  img[src*='+twoth'], figure.twoth {
    width: 66.6%;
  }

  img[src*='+half'], figure.half {
    width: 50%;
  }

  img[src*='+third'], figure.third {
    width: 33.33%;
  }

  img[src*='+left'], figure.left {
    float: left;
  }

  img[src*='+right'], figure.right {
    float: right;
  }

  img[src*='+margin'][src*='+left'], figure.left {
    margin-right: 20px;
  }

  img[src*='+margin'][src*='+right'], figure.right {
    margin-left: 20px;
  }

  img[src*='+w300'] {
    width: 300px;
  }

  aside.note, aside.warning {
    padding: 4px;
    border: 1px solid;
    border-radius: 5px;
    &.note {
      border-color: #605010;
      background: #f0d090;
    }
    &.warning {
      border-color: #605010;
      background: #f0d090;
    }
  }

  .footnotes {
    li {
      font-size: 0.9em;
      margin-bottom: 5px;
      color: #333;
    }
  }

  .footnote-return {
    display: inline-block;
    text-decoration: none !important;
    transform: scale(1, -1);
    position: relative;
    top: -0.2ex;
    sup {
      display: none;
    }
    &::after {
      content: "↩︎";
    }
  }
}


nav, aside {
  ul {
    padding: 0;
    li {
      list-style: none;
      line-height: 1.4;
    }
  }
}

aside {
  figure {
    display: block;
    color: #333;
    margin: 0;
    margin-top: 10px;
    img {
      float: left;
      margin-right: 10px;
    }
    figcaption {
      margin-left: 42px;
    }
  }
}

nav.pagination {
  margin-top: 20px;
  margin-bottom: 20px;

  ul {
    li {
      a, span {
        padding: 10px;
        float: left;
        display: block;
        color: var(--header-color);
        margin-top: 10px;
        margin-right: 10px;
        border-radius: 5px;
        font-family: var(--header-font);
        font-weight: bold;
      }

      a {
        background: var(--link-color);
      }

      span {
        background: var(--header-background);
      }
    }
  }
}

@media all and (max-width: 1024px) {
  body {
    > header p, > #content, > footer p {
      max-width: 100vw;
    }
  }

  #content {
    display: block;
    a[href*="/files/downloads"] {
      width: 100%;
      padding: 0;
    }
  }
  article {
    img {
      width: auto;
    }
    video {
      width: auto;
    }
  }
  #sidebar {
    img {
      width: 64px;
      height: 64px;
    }
    h4:first-child {
      margin-top: 150px !important;
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  h1, .h1, h2, .h2 {
    letter-spacing: -1.5px;
  }
}
