---
layout: default
---


<article class="post clearfix" role="article" itemscope itemtype="http://schema.org/BlogPosting">

	<header class="article-header">

		<h1 class="entry-title single-title" itemprop="headline">{{ page.title }}</h1>
		<p class="byline vcard">
		Posted on <time class="updated" datetime='{{page.date | date: "%Y-%m-%d"}}' pubdate>{{page.date | date: "%Y-%m-%d"}}</time>  <span class="amp">&amp;</span> filed under  {% for category in page.categories %} {{ category }} {% endfor %}
		</p>

	</header>

	<section class="entry-content clearfix" itemprop="articleBody">
		{{ content }}
	</section>

	<footer class="article-footer">
		<p class="tags">
			{% for tag in page.tags %}
			<a href="/tag/{{ tag }}">{{ tag }}</a>
			{% endfor %}
		</p>
	</footer>

	comments_template();

</article>



