<article role="article" itemscope itemtype="http://schema.org/BlogPosting">

  <header>
    <p><% link_to article do %><time datetime="<%= article.date.strftime('%Y-%m-%d') %>"><%= article.date.strftime('%Y-%m-%d') %></time><% end %></p>
  </header>
  <section>
    <%= article.body %>
  </section>

</article>
