<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Clockwork<%= ' - ' + current_article.title unless current_article.nil? %></title>
  <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <link rel="apple-touch-icon" href="/css/images/apple-icon-touch.png">
  <link rel="icon" href="favicon.png?v=2">
  <!--[if IE]> <link rel="shortcut icon" href="/favicon.ico"> <![endif]-->
  <meta name="msapplication-TileColor" content="#f01d4f">
  <meta name="msapplication-TileImage" content="/css/images/win8-tile-icon.png">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/bigfoot-default.css">
  <link rel="stylesheet" href="/css/zenburn.css">
  <script type="text/javascript" src="/js/highlight.pack.js"></script>
  <script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="/js/bigfoot.min.js"></script>
  <script type="text/javascript" src="/js/clockwork.js"></script>

</head>
<body>
  <div id="container">
    <header class="header" role="banner">
      <div id="inner-header" class="wrap clearfix">
        <p id="logo" class="h1"><a href="/" rel="nofollow">Clockwork</a></p>
      </div>
    </header>

    <div id="content">
      <div id="inner-content" class="wrap clearfix">
        <div id="main" class="eightcol first clearfix" role="main">
          <%= yield %>
        </div>
        <aside class="sidebar fourcol last clearfix" role="complementary">

          <div class="widget widget_pages">
            <h4 class="widgettitle">Pages</h4>    
            <ul>
              <li class="page_item"><a href="/pages/About/">About Me</a></li>
              <li class="page_item"><a href="/pages/Biography/">Biography</a></li>
              <li class="page_item"><a href="/pages/Downloads/">Downloads</a></li>
            </ul>
          </div>
          <div class="widget widget_text">
            <h4 class="widgettitle">Social</h4>
            <div class="textwidget">
              <a href="http://twitter.com/ytwoz">
                <div class="icon64 icon-twitter"></div>
              </a>
              <a href="http://instagram.com/ytwoz">
                <div class="icon64 icon-instagram"></div>
              </a>
            </div>
          </div>

        </aside>

      </div>
    </div>
    <footer class="footer" role="contentinfo">

      <div id="inner-footer" class="wrap clearfix">

        <p class="source-org copyright">&copy; <%= Time.now.year %> Clockwork</p>
        <p>
          <small><em>Powered by <a href="http://middleman.app">Middleman</a>, <a href="http://themble.com/bones/">Bones</a>, <a href="http://www.bigfootjs.com/">Bigfoot</a> and <a href="http://jquery.com">jQuery</a></em></small>
        </p>

      </div>


    </footer>

  </div>

  <script type="text/javascript">
    hljs.initHighlightingOnLoad();

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-16042206-1']);
    _gaq.push(['_setDomainName', 'clockwork.fr']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    $.bigfoot();
  </script>

</body>

</html>
