{{ define "header" }}
  {{ partial "page-header.html" . }}
{{ end }}

{{ define "main" }}
  {{ $section := .Site.GetPage "section" .Section }}
  <article>
    <header>
      <h1>
        {{- .Title -}}
      </h1>
      {{- partial "post/meta.html" . -}}
    </header>
    <div>
      {{- partial "post/content.html" . -}}
    </div>

    <aside>
      {{- partial "tags.html" . -}}
      {{- partial "menu-contextual.html" . -}}
    </aside>

  </article>
  <script src="/js/littlefoot.min.js" type="application/javascript"></script>
  <script type="application/javascript">
  littlefoot.littlefoot({
    buttonTemplate: `<button
      aria-label="Footnote <% number %>"
      class="littlefoot__button"
      id="<% reference %>"
      title="See Footnote <% number %>"/>
        <% number %>
      </button>`
  })
  </script>
{{ end }}
