{{ define "main" }}
{{ $data := .Data }}
<article>
  <section>
    <h1>{{ $.Data.Plural | humanize }}</h1>
    {{ range $term := .Data.Pages }}
    <h2>
      <a href="{{ $term.RelPermalink }}" class="link blue hover-black">
        {{ $term.LinkTitle }}
      </a>
    </h2>
    <ul>
      {{ range $term.Pages }}
      <li><a href="{{ .RelPermalink }}">
          <time datetime="{{ .Date.Format "2006-01-02"}}">{{ .Date.Format "2006-01-02" }}</time> — 
          {{ .Title }}</a></li>
      {{ end }}
    </ul>
    {{ end }}
  </section>
</article>
{{ end }}
